

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.translucent{
	opacity: .65;
}

.adjusto{
	height: 300px;
}

.smaller{
	width: 20%;
}

th{
	cursor: pointer;
}






